@model IEnumerable<MVCAppWithApi.Models.EmployeeInfo>

@{
    ViewData["Title"] = "EmployeeList";
}

<h1>EmployeeList</h1>

<p>
    <a asp-action="CreateEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.job_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hire_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone_number)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.manager_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hire_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.manager_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department_id)
            </td>
            <td>
                @Html.ActionLink("Update Employee", "UpdateEmployee", new { empid=item.employee_id }) |
                @Html.ActionLink("View Employee", "ViewEmployee", new { empid=item.employee_id }) |
                @Html.ActionLink("Delete Employee", "DeleteEmployee", new { empid=item.employee_id })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @{
        Html.RenderPartial("TestPartial");
    }
</div>


